{
    "g_application_database_ver": 1,
    "g_splash_width": "500px",
    "g_splash_height": "281px",
    "g_enable_geolocation": 0,
    "g_enable_mobile_title": 1,
    "g_timed_checks_time": 10,
    "g_enable_timed_connect": 1,
    "g_enable_timed_image_upload": 1,
    "g_enable_splash": 1,
    "g_splash_duration": 2,
    "g_enable_login": 0,
    "g_local_stat_limit": 100,
    "g_online_ping_URL": "http://www.google.com",
    "g_date_format": "%d/%m/%Y %H:%M",
    "g_default_language": "EN",
    "g_local_images_available": ["EN","FR"],
		"g_USER_sound_enabled": 1,
		"g_USER_music_enabled": 1
}